*.gba
r
gif_to_gbefe_anime_script/bin/Debug/*.exe
gif_to_gbefe_anime_script/bin/Debug/*.pdb
gif_to_gbefe_anime_script/bin/Debug/*.png
gif_to_gbefe_anime_script/bin/Debug/*.bin
gif_to_gbefe_anime_script/bin/Debug/*.gba
gif_to_gbefe_anime_script/bin/Debug/*.dmp
gif_to_gbefe_anime_script/bin/Debug/app
gif_to_gbefe_anime_script/bin/Release
gif_to_gbefe_anime_script/bin/Debug/config/*.xml
gif_to_gbefe_anime_script/bin/Debug/config/etc/
gif_to_gbefe_anime_script/bin/Debug/config/log/
gif_to_gbefe_anime_script/obj
.vs/
